# >>> SYSTEM
LOG_LEVEL=info  # info | debug | warn | error | fatal
CLEAR_CONSOLE_BY_START=true
NEST_LOGGER_ENABLED=false
SWAGGER_ENABLED=true
CORS_ORIGIN='["http://localhost:3000","http://localhost:8080"]'
NODE_ENV=development # production | development
# <<< SYSTEM

# >>> DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/database"
# <<< DATABASE

# >>> EMAIL SERVICE
SENDGRID_API_KEY=abc123
EMAIL_NO_REPLY=no-reply@example.gmail
EMAIL_COMPANY_NAME=CompanyName
ENABLED_REAL_EMAIL=false
# <<< EMAIL SERVICE

# >>> REDIS
REDIS_URL=redis://localhost:6379
# <<< REDIS