# >>> SYSTEM
LOG_LEVEL=info  # info | debug | warn | error | fatal
CLEAR_CONSOLE_BY_START=true
NEST_LOGGER_ENABLED=false
SWAGGER_ENABLED=true
CORS_ORIGIN='["http://localhost:3000","http://localhost:8080"]'
NODE_ENV=development # production | development
# <<< SYSTEM

# >>> DATABASE
DATABASE_URL="postgresql://postgres:password@localhost:5432/database"
# <<< DATABASE

# >>> AUTH
BETTER_AUTH_URL=http://localhost:3000/api/v1/auth
BETTER_AUTH_BASE_PATH=api/v1/auth
BETTER_AUTH_SECRET=abc123
GOOGLE_CLIENT_ID=abc123
GOOGLE_CLIENT_SECRET=woop_woop
# <<< AUTH

# >>> EMAIL SERVICE
SENDGRID_API_KEY=abc123
EMAIL_NO_REPLY=no-reply@example.gmail
EMAIL_COMPANY_NAME=CompanyName
ENABLED_REAL_EMAIL=false
# <<< EMAIL SERVICE

# >>> REDIS
REDIS_URL=redis://localhost:6379
# <<< REDIS

# >>> SUPABASE
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_REST_URL=http://127.0.0.1:54321/rest/v1
SUPABASE_GRAPHQL_URL=http://127.0.0.1:54321/graphql/v1
SUPABASE_FUNCTIONS_URL=http://127.0.0.1:54321/functions/v1

SUPABASE_ANON_KEY=sb_anon_key
SUPABASE_SERVICE_ROLE_KEY=sb_service_role_key

SUPABASE_STORAGE_URL=http://127.0.0.1:54321/storage/v1/s3
SUPABASE_STORAGE_ACCESS_KEY=sb_storage_access_key
SUPABASE_STORAGE_SECRET_KEY=sb_storage_secret_key
SUPABASE_STORAGE_REGION=local  # local | us-east-1 | us-east-1 | eu-central-1 | ap-southeast-1
# <<< SUPABASE